In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv("../DATA/Advertising.csv")

In [3]:
df.head()

      TV  radio  newspaper  sales
0  230.1   37.8       69.2   22.1
1   44.5   39.3       45.1   10.4
2   17.2   45.9       69.3    9.3
3  151.5   41.3       58.5   18.5
4  180.8   10.8       58.4   12.9

In [4]:
X = df.drop('sales', axis = 1)

In [5]:
y = df['sales']

In [6]:
from sklearn.model_selection import train_test_split

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

In [8]:
from sklearn.preprocessing import StandardScaler

In [9]:
scaler = StandardScaler()

In [10]:
scaler.fit(X_train)

StandardScaler()

In [11]:
X_train = scaler.transform(X_train)

In [12]:
X_test = scaler.transform(X_test)

In [14]:
from sklearn.linear_model import Ridge
model = Ridge(alpha=100)

In [15]:
from sklearn.model_selection import cross_val_score

In [17]:
scores = cross_val_score(model, X_train, y_train, scoring='neg_mean_squared_error',
                        cv=5)

In [18]:
scores

array([ -9.32552967,  -4.9449624 , -11.39665242,  -7.0242106 ,
        -8.38562723])

In [19]:
abs(scores.mean())

8.215396464543607

In [21]:
model = Ridge(alpha=1)

In [22]:
scores = cross_val_score(model, X_train, y_train, scoring='neg_mean_squared_error',
                        cv=5)

In [23]:
scores

array([-3.15513238, -1.58086982, -5.40455562, -2.21654481, -4.36709384])

In [24]:
abs(scores.mean())

3.344839296530695

In [25]:
model.fit(X_train,y_train)

Ridge(alpha=1)

In [26]:
y_final_test_pred = model.predict(X_test)

In [28]:
from sklearn.metrics import mean_squared_error
mean_squared_error(y_test,y_final_test_pred)

2.3190215794287514

In [29]:
## CREATE X and y
X = df.drop('sales',axis=1)
y = df['sales']

# TRAIN TEST SPLIT
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=101)

# SCALE DATA
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
scaler.fit(X_train)
X_train = scaler.transform(X_train)
X_test = scaler.transform(X_test)

In [30]:
model = Ridge(alpha=100)

In [31]:
from sklearn.model_selection import cross_validate

In [32]:
scores = cross_validate(model,X_train,y_train, scoring=['neg_mean_absolute_error', 'neg_mean_squared_error'],cv=10)

In [35]:
scores=pd.DataFrame(scores)

In [37]:
scores.mean()

fit_time                        0.001221
score_time                      0.000679
test_neg_mean_absolute_error   -2.083773
test_neg_mean_squared_error    -7.565121
dtype: float64

In [38]:
model = Ridge(alpha=1)

In [39]:
scores = cross_validate(model,X_train,y_train, scoring=['neg_mean_absolute_error', 'neg_mean_squared_error'],cv=10)

In [40]:
scores=pd.DataFrame(scores)

In [41]:
scores

,fit_time,score_time,test_neg_mean_absolute_error,test_neg_mean_squared_error
0,0.001468,0.000899,-1.457174,-2.962508
1,0.001004,0.001148,-1.555308,-3.057378
2,0.000670,0.000999,-1.238770,-2.173740
3,0.001875,0.000849,-0.768938,-0.833034
4,0.001615,0.000998,-1.434489,-3.464018
5,0.000788,0.001050,-1.494316,-8.232647
6,0.000946,0.000998,-1.081362,-1.905864
7,0.000995,0.000996,-1.250011,-2.765048
8,0.001584,0.001026,-1.580971,-4.989505
9,0.001994,0.000965,-1.223326,-2.846438

In [42]:
scores.mean()

fit_time                        0.001294
score_time                      0.000993
test_neg_mean_absolute_error   -1.308467
test_neg_mean_squared_error    -3.323018
dtype: float64

In [43]:
model.fit(X_train,y_train)

Ridge(alpha=1)

In [44]:
y_f = model.predict(X_test)

In [45]:
mean_squared_error(y_test,y_f)

2.3190215794287514